@media only screen and (max-width: 600px) {
	body {
	color: #000000;
	background-color: lightgreen;
	font-family: "Verdana";
	font-size: 2vw;
	}
	a {
	  color: lightyellow;
	  text-decoration: none;
	}

	a:visited {
	  color: green;
	  text-decoration: none;
	}

	/* Add a background color to the top navigation */
	.topnav {
	  background-color: darkgreen;
	  overflow: hidden;
	}

	/* Style the links inside the navigation bar */
	.topnav a {
	  float: left;
	  display: block;
	  color: yellow;
	  text-align: center;
	  padding: 1vw 1vw;
	  text-decoration: none;
	  font-size: 3vw;
	}

	/* Change the color of links on hover */
	.topnav a:hover {
	  background-color: green;
	  color: white;
	}

	/* Add an active class to highlight the current page */
	.topnav a.active {
	  background-color: yellow;
	  color: darkgreen;
	}

	/* Hide the link that should open and close the topnav on small screens */
	.topnav .icon {
	  display: none;
	}

	.BoldTD {
	  font-weight: bold;
	  vertical-align: top;
	}
	.TDDetails {
	  vertical-align: top;
	}
}
@media only screen and (min-width: 601px) {
body {
	color: #000000;
	background-color: lightgreen;
	font-family: "Verdana";
	font-size: 10;
	}
	a {
	  color: lightyellow;
	  text-decoration: none;
	}

	a:visited {
	  color: green;
	  text-decoration: none;
	}

	/* Add a background color to the top navigation */
	.topnav {
	  background-color: darkgreen;
	  overflow: hidden;
	}

	/* Style the links inside the navigation bar */
	.topnav a {
	  float: left;
	  display: block;
	  color: yellow;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 14;
	}

	/* Change the color of links on hover */
	.topnav a:hover {
	  background-color: green;
	  color: white;
	}

	/* Add an active class to highlight the current page */
	.topnav a.active {
	  background-color: yellow;
	  color: darkgreen;
	}

	/* Hide the link that should open and close the topnav on small screens */
	.topnav .icon {
	  display: none;
	}

	.BoldTD {
	  font-weight: bold;
	  vertical-align: top;
	}
	.TDDetails {
	  vertical-align: top;
	}
}
